*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rokkitt", serif;
}

body{
  /*background-color: #0d0d0d;*/
  background-image: url('./Photos/adrian-176321-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 96vh;
  width: 100%;
  background-repeat: no-repeat;
}

/*Time*/
#clockbox{
  display: flex;
  justify-content: flex-end;
  margin: 55px 50px;
}

h2{
  color: white;
  font-size: 4em;
}

/*citation*/
.inspiration{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

h1{
  color: white;
  font-size: 7em;
}

/*searchbox*/
.search{
  display: flex;
  justify-content: center;
}

input[type=text]{
  margin-top: 2px;
  padding: 5px;
  border: none;
  border-bottom: solid white 2px;
  color: white;
  font-size: 1.7em;
  background-color: inherit;
}
